*{
  box-sizing: border-box;
}
body{
  background: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0, 0.4)),url(canyon.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
  display: flex;
  position: relative;
  top: 25%;
  justify-content: center;
  align-items: center;
}
h1{
   font-family:'Monoton', cursive; 
  text-align: center;
  color: white;
  margin-bottom: 70px;
  font-size: 80px;
  letter-spacing: 2px;
}
h1:hover{
  transition: all .2s ease-in-out; 
 transform: scale(1.1); 
 color: #f0b800;
 cursor: default;
}
.search-field{
  height: 50px;
  padding:10px;
  border: none;
  border-radius: 25px;
  font-size: larger;
  color: white;
}
.location{
  width: 350px;
}
.search-btn{
  height: 50px;
  width: 150px;
  background-color: #f0b800;
  border: none;
  color: black;
  border-radius: 25px;
  box-shadow: 10px 10px 30px 10px #000000;
}
.search-btn:hover{
  background-color: rgb(44, 106, 148);
  color: white;
  cursor: pointer;
}
.custom-cards{
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 17px;
  font-size: 15px;
  margin: 20px;
  transition: 0.3s ease-in;
}
.hide{
  display: none;
}
.round-card{
  width: 65%;
  flex-wrap: wrap;
  box-shadow: 10px 10px 30px 10px #000000;
  /* height: 170px; */
  border-radius: 25px;
background-image: linear-gradient(315deg, #0e94ee 0%, #a06230 74%);
}
.back-btn{
  position: fixed;
  left:75%;
  bottom: 560px;
  height: 100px;
  width: 150px;
  background-color: #f0b800;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 10px 10px 30px 10px #000000;
  flex-wrap: wrap;
  background-color: #141414;
background-image: linear-gradient(315deg, #0e94ee 0%, #a06230 74%);
}
.back-btn:hover{
  background-color: rgb(44, 106, 148);
  color: white;
  cursor: pointer;
  
}
.container{
  position: fixed;
  left:72%;
  bottom: 100px;
}
.link{
  color:blue;
}
.link:hover{
color: rgb(240, 11, 11);
}

@media screen and (max-width: 1000px){
  .back-btn{
    position: static;
    margin-left: 102px;
    margin-top: 20px;
  }
  
  header{
    position: static;
    display:inline;
    
  }
  form{
    position: relative;
    top: 20%;

  }
  .container{
    position:static;
    display:inline;
  }
  .header{
    display:inline;
  }
  h1{
    margin-bottom: 0px;
  }
  p{
    font-size: 15px;
    line-height: 15px;
  }
  .custom-cards{
    display: inline-flex;
    box-sizing: border-box;
    padding: 15px 7px;
    width:120%;
  }
  span{
    font-size: 700px;
  }

}
